.page-login {
    background: url('../assets/imgs/OpeningScreen.jpg');
    width: 100%;
    background-size: 100% 100%;
}

.center{
    padding-top: 70%;
}

.transparent{
    background-color: yellow;
}