.page-register {
    background: url('../assets/imgs/OpeningScreen.jpg');
    width: 100%;
    background-size: 100% 100%;
}

.center-register{
    padding-top: 40%;
}

.transparent-register{
    background-color: transparentize($color: #FFFFFF, $amount: 0.2 );
}
